server:
  port: 8888
spring:
  application:
    name: aiDemo2
  ai:
    rag:
    topK: 8
    similarityThreshold: 0.4  
    # ❗ 移除 alibaba 层级，直接在 ai 下配置 dashscope
    dashscope:
      api-key: sk-9b7025eed55f4cfbb4ea1dbb11bfacdc # 使用环境变量注入
    embedding:
      # ???? DashScope ??? embedding ??
      model: text-embedding-v1
